@model TS.Scrabble.BL.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-danger">@ViewBag.Message</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <body>
        <div class="main-Login">
            <p class="sign" align="center">Sign in</p>
            <form class="form1">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div>
                    @*<input class="email" type="text" align="center" placeholder="Email"*@ 
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "email" } })
                           @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div>
                    @Html.PasswordFor(model => model.Password, new { @class = "pass" })
                           @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <input type="button" class="submit" align="center" value="Login"/>
                <p class="forgot" align="center"><a href="#">Forgot Password?</a></p>
                <p class="create" align="center"><a href="~/Views/User/Create.cshtml">Create Account</a></p>
            </form>
        </div>
    </body>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
